{{- $role := "desktop" -}}
{{- $is_gui := true -}}
{{- $monitor_conf := "default.conf" -}}
{{- $net_iface := "wlan0" -}}

{{- if stdinIsATTY -}}
{{-   $role = promptString "💻 ¿Qué rol cumple esta máquina? (desktop/laptop/server)" "desktop" -}}
{{- end -}}

{{- if eq $role "server" -}}
{{-   $is_gui = false -}}
{{-   $net_iface = "eth0" -}}
{{- else if eq $role "laptop" -}}
{{-   $is_gui = true -}}
{{-   $monitor_conf = "laptop_internal.conf" -}}
{{-   $net_iface = "wlan0" -}}
{{- else -}}
{{-   $is_gui = true -}}
{{-   $monitor_conf = "desktop_main.conf" -}}
{{-   $net_iface = "wlan0" -}}
{{- end -}}

[data]
    machine_role = {{ $role | quote }}
    is_gui = {{ $is_gui }}
    is_arch_based = true
    hyprland_monitor_config = {{ $monitor_conf | quote }}
    network_interface = {{ $net_iface | quote }}
    editor = "nvim"
    terminal = "kitty"
    launcher = "fuzzel"
    browser = "firefox"

[edit]
    command = "nvim"
